<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276972923353-f47f4m2i1anoa7h1fqmvp5nqjt089qbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276972923353-f47f4m2i1anoa7h1fqmvp5nqjt089qbc</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ8HtO54RNdke0vz4xgUHqci-aKX_7auY</string>
	<key>GCM_SENDER_ID</key>
	<string>276972923353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jsare.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-39a37</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-39a37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276972923353:ios:e320e73817b5bb41bc11c8</string>
</dict>
</plist>